{% extends "style.html" %}
{% block content %}
<body>
    <div class="head d-flex justify-content-between"> 
        <div class="topleft">
            <h1>Borrower</h1>
        </div>
        <div class="topright">
            <h1>Back to library</h1>
        </div>
    </div>
    <div class="tabelContent d-flex justify-content-center">
        <table>
            <tr style="background-color: black;color:white;">
              <th>ID</th>
              <th>Name</th>
              <th>Amount of Borrower</th>
              <th>Detail</th>
            </tr>
            {% for data in theData %}
            <tr>
              <td>{{ data[0] }}</td>
              <td>{{ data[1] }}</td>
              <td>{{ data[2] }}</td>
              <td>detail</td>
            </tr>
            {% endfor %}
        </table>
        <div class="buttonAdd d-flex justify-content-end">
            <p></p>
            <div id="posisi_bawah_form">
                <input class="btn btn-dark" id="btn_addBorrower" type="submit" value="+">
            </div>
        </div>
    </div>
</body>
</html>


<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/borrower.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='') }}">
{% endblock %}